body{
    font-family: 'IBM Plex Mono';
}
.section1{
    background-color: #C6FFE0;
}
.navbar-brand{
    font-weight: 500;
    font-size: 27px;
    padding-right: 42px;
}
.nav-item{
    font-size: 18px;
    padding-right: 25px;
    font-weight: 500;
}
.btn1{
    background-color: #C6FFE0;
    border: 2px dashed black;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 25px;
    margin-right: 2px;
}
.btn2{
    background-color: #13E5C0;
    border: 2px solid  #C6FFE0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 22px 35px;
    margin-right: -27px;

}